h2 info

p Vill du komma i kontakt med oss på Kundtjänst når du oss bäst via vår livechatt på academedia.se online. Öppettider: måndag - fredag kl 10:00-22:00 samt lördag och söndag kl 13:00-22:00. OBS! Matbeställningar tas ej emot via telefon. Det går också bra att maila oss! Vi besvarar de flesta frågor inom 24 timmar på vardagar. Du får snabbare hjälp om du fyller i ditt ordernummer, samt anger mailadressen som användes vid beställningen. Ordernummer får du i ett mail från oss efter att du beställt, och syns även på sidan när din beställning bekräftats. Det går självklart bra att ange en alternativ mailadress för oss att svara till. Kontakta gärna kontakt@academedia.se om du har frågor om hur vi samlar in och hanterar information om dig som besökare.